// Theme Colors 
$green: #0F7354;
$mediumGreen: #3C9553;
$lightGreen: #76C04D;
$gray: #585858;
$light: #F6F6EE;
$red: #C04D4D;
$yellow: #F0CD08;
$white: #fff;
$black: #121212;

// Gradients
$darkGradient: linear-gradient($gray, $black);
$greenGradient: linear-gradient($lightGreen, #3B6027);
$bodyGradient: linear-gradient(to left, $mediumGreen, #1E4B2A);