@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro&display=swap');
@import 'colors';

$mainText: 'Roboto', sans-serif;
$logoText: 'Avenir Next', sans-serif; 

$btnText: 'Source Sans Pro', 'Roboto', sans-serif;


h1, h3 {
    font-family: $mainText;
    font-weight: bold;
    color: $green;
}

h1 {
    font-size: 3.125em;
    margin: 0;
} 

h2 {
    font-family: $mainText;
    font-weight: bolder;
    font-size: 1.875em;
    color: $gray;
}

h3 {
    font-size: 1.5625em;
    text-transform: uppercase;
}

p {
    color: $gray;
    font-weight: 300;
    font-family: $mainText;
    font-size: 1.25em; 
}

.login {

    &__logo {

        > h1 {
            color: $green;
            font-size: 3.5em;
            font-family: $logoText;
            letter-spacing: -$letterSpacing * 5;
        }

        > p {
            color: $green;
            font-family: $logoText;
            font-size: 1em;
            font-weight: bold;
            letter-spacing: $letterSpacing;
            text-transform: uppercase;
        }
    }
    
    &__text {

        > p {
            font-family: $btnText;
            font-size: 1.125em;
        }
    }
}
