@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Source+Sans+Pro&display=swap');
@import 'colors';

h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 3.125em;
    color: $green;
} 

p {
    color: $gray;
    font-family: 'Roboto', sans-serif;
    font-size: 1.25em;
}

.login {

    &__logo {

        > h1 {
            color: $green;
            font-size: 3.5em;
            font-family: 'Avenir Next';
            letter-spacing: -$letterSpacing * 5;
        }

        > p {
            color: $green;
            font-family: 'Avenir Next';
            font-size: 1em;
            font-weight: bold;
            letter-spacing: $letterSpacing;
            text-transform: uppercase;
        }
    }
    
    &__text {

        > p {
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1.125em;
        }
    }
}
